<script>

  $(document).ready(function() {
    $.validationEngineLanguage.newLang();
    $("#login").validationEngine({
      success :  false,
      failure : function() {}
    })
  });
</script>

<% form_for(:login, :url => { :action => "auth" }, :html => {:id => 'login', :name=> "login" }) do |f| -%>
<%= f.error_messages %>

<p>
  <%= f.label :パスワード %><br />
  <%= f.text_field :receive_password,  :class => 'validate[required,length[4, 8]]' %>
</p>
<p>
    <%= f.submit "送信" %>
</p>
<div style="height:250px;"></div>
<% end -%>
