<%= form_for(:login, :url => { :action => "auth" }, :html => {:id => 'login', :name=> "login" }) do |f| -%>
<%#= f.error_message %>

<p>
  <%= f.label :パスワード %><br />
  <%= f.text_field :receive_password %>
</p>
<p>
    <%= f.submit "送信" %>
</p>
<div style="height:250px;"></div>
<% end -%>
