<script src="/javascripts/test.js" type="text/javascript"></script>


<script>
  $(document).ready(function() {
  $("#login").validationEngine({
  success :  false,
  failure : function() {}
  })
  });
</script>

<%= form_for(:login, :url => { :action => "auth" }, :html => {:id => 'login', :name=> "login" }) do |f| -%>
<%#= f.error_messages %>

<p>
  <%= f.label :パスワード %><br />
  <%= f.text_field :receive_password %>
</p>

<p>
    <%= f.submit "送信" %>
</p>
<div style="height:200px;"></div>
<% end -%>
