<%= link_to 'こちら', :action => 'index_noflash' %>から簡易バージョンを利用するか，以下のバナーアイコンをクリックのうえ，Flash Playerをインストールしてください。<br /><br />

<div class="center"><a href="http://get.adobe.com/jp/flashplayer/"><img src="/assets/common/Get_Flash_Player.jpg" border="0" /></a></div>
<div style="height:150px; clear:both;"></div>
