/* -----------------------------------------------
        www.swfupload.org
        Description: Common Screen Stylesheet for SWFUpload Demos
        Updated on:  May 1, 2008
----------------------------------------------- */


/* -----------------------------------------------
        GLOBAL RESET
   ----------------------------------------------- */




/* -- Form Styles ------------------------------- */




div.flash {
        width: 375px;
        margin: 10px 5px;
        border-color: #D9E4FF;

        -moz-border-radius-topleft : 5px;
        -webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}


/* -- Table Styles ------------------------------- */
td {
        font: 10pt Helvetica, Arial, sans-serif;
        vertical-align: top;
}

.progressWrapper {
        width: 386px;
        overflow: hidden;
}

.progressContainer {
        margin: 5px;
        padding: 4px;
        border: solid 1px #9E9E9E;
        background-color: #F7F7F7;
        overflow: hidden;
}
/* Message */
.message {
        margin: 1em 0;
        padding: 10px 20px;
        border: solid 1px #FFDD99;
        background-color: #FFFFCC;
        overflow: hidden;
}
/* Error */
.red {
        border: solid 1px #B50000;
        background-color: #FFEBEB;
        color: #b50000;
        font-weight: bold;
}

/* Current */
.green {
        border: solid 1px #6EBF6E;
        background-color: #EBFFEB;
}

/* Complete */
.blue {
        border: solid 1px #6FA3CC;
        background-color: #F0F5FF;
}

.progressName {
        font-size: 10pt;
        font-weight: 700;
        color: #555;
        width: 307px;
        height: 14px;
        text-align: left;
        margin-top: 2px;
        white-space: nowrap;
        overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
        font-size: 0;
        width: 0%;
        height: 12px;
        background-color: blue;
        margin-top: 2px;
        background-image: url(common/indicator.gif);
}

.progressBarComplete {
        width: 100%;
        background-color: green;
        visibility: hidden;
}

.progressBarError {
        width: 100%;
        background-color: red;
        visibility: hidden;
}

.progressBarStatus {
        margin-top: 2px;
        width: 337px;
        font-size: 9pt;
        font-family: Arial;
        text-align: left;
        white-space: nowrap;
}

a.progressCancel {
        font-size: 0;
        display: block;
        height: 18px;
        width: 41px;
        background-image: url(common/torikesi.gif);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        float: right;
}

a.progressCancel:hover {
        background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
        vertical-align: top;
  z-index: 0;
}
